*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*CAMBIO HOMEd (1)*/
.container-discoteca{
    width: 100%;
    max-width: 2000px;
    margin: auto;
}
.header1{
    height: 60px;
    background: linear-gradient(90deg, #000000, #2f015a, #5e06b1);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    display: inline-block;
    font-size: 25px;
    text-align: center;
}
.d1__logo{
    height: 45px;
    width: 45px;
    margin: 10px;
}
.container__back{
    height: 45px;
    width: 45px;
    margin: 10px;
}
.container__back:hover{
    border-radius: 10px;
    background-color: #490588;
}
.header__back{
    height: 45px;
    width: 45px;
}
.d1__con{
    height: calc(100vh - 60px);
    max-height: 1500px;
    background: linear-gradient(180deg, #000, #000,  #000,  #000, #130122, #210140, #350166, #5e06b1, #7b09e6, #7b09e6, #7b09e6);
}
.d1-info{
    height: 100%;
}
.ul{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.con-lis{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.li{
    height: 150px;
    width: 150px;
    margin: 1x;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    list-style-type: none;
    text-align: center;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.li:hover{
    background: linear-gradient(180deg, #fefefe, #ddd);
    outline: 1px outset #000;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan 0 0 50px cyan, 0 0 100px cyan 0 0 200px cyan;
}
.d1__nav-img{
    height: 120px;
    width: 140px;
    padding: 10px 20px;
}
.con-logout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logout{
    padding: 4px;
    display: inline-block;
    background-color: #ca0b0b;
    border: 0;
    border-radius: 4px;
    outline: 3px solid #000;
    text-align: center;
    list-style-type: none;
    color: #fff;
}
.logout:hover{
    background-color: #a90a0a;
}
a{
    text-decoration: none;
}
.li a{
    height: 100%;
    width: 100%;
    color: #000;
}

/*CAMBIO Administrar Eventos (2)*/
h2{
    display: inline-block;
}
.d2-cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d2__info{
    height: 80%;
    width: 90%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    border-radius: 4px;
}
.d2__info-1{
    height: 100px;
    margin: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d2__info-2{
    height: 100px;
    margin: 15px;
    background-color: #cfcfcf;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d2__info-1-con1{
    width: 50%;
    margin-left: 14px;
}
.d2__info-1-con2{
    height: 70px;
    width: 70px;
    margin-right: 14px;
}
.d2__info-1-con2:hover{
    border-radius: 10px;
    background-color: #ccc;
}
.d2__info-2-con1{
    width: 50%;
    margin-left: 14px;
}
.d2__info-2-con2{
    height: 70px;
    width: 70px;
    margin-right: 14px;
}
.d2__info-2-con2:hover{
    border-radius: 10px;
    background-color: #999;
}

/*CAMBIO Administrar Eventos-1 (21)*/
.d21-cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d21__info{
    height: 80%;
    width: 90%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 4px;
}
.d21__info-1-2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.d21__info-1{
    width: 90%;
    margin: 5%;
    margin-bottom: 0;
}

.formulario{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10% 0 10%;
}
.formulario-item{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__label{
    margin: 1% 1% 1% 0.1%;
    font-size: 21px;
}
.form__input{
    color: #fff;
    background-color: transparent;
    margin: 1% 0;
    height: 80%;
    width: 40%;
    border: none;
    border-bottom: 2px solid #7b09e6;
}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, #210140);
    outline: none;
}
.formulario-inputs__horario{
    height: 80%;
    width: 40%;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
}
.form__input-horario{
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7b09e6;
}
.form__input-horario:focus{
    background: linear-gradient(to bottom, transparent, #210140);
    outline: none;
}
.formulario-inputs__horario input{
    width: 50%;
}

.d21__info-3{
    width: 100%;
    align-self: flex-end;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.d21__info-1 p, .d21__info-2 p{
    color: #fff;
    font-size: 26px;
}
.save1{
    height: 27px;
    width: 100px;
    display: inline-block;
    background-color: #7b09e6;
    outline: 3px solid #000;
    text-align: center;
    list-style-type: none;
    color: #fff;
}
.save1:hover{
    background-color: #5907c4;
}
.d21__atras{
    height: 30px;
    width: 30px;
    display: inline-block;
}
.d21__atras:hover{
    border-radius: 10px;
    background-color: #999;
}

/*CAMBIO Administrar Eventos-2 (22)*/
.d22-cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d22__info{
    height: 80%;
    width: 90%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 4px;
}
.d22__info-1-2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.d22__info-1{
    width: 90%;
    margin: 5%;
    margin-bottom: 0;
}

.formulario{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10% 0 10%;
}
.formulario-item{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__label{
    margin: 1% 1% 1% 0.1%;
    font-size: 21px;
}
.form__input{
    color: #fff;
    background-color: transparent;
    margin: 1% 0;
    height: 80%;
    width: 40%;
    border: none;
    border-bottom: 2px solid #7b09e6;
}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, #210140);
    outline: none;
}
.formulario-inputs__horario{
    height: 80%;
    width: 40%;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
}
.form__input-horario{
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7b09e6;
}
.form__input-horario:focus{
    background: linear-gradient(to bottom, transparent, #210140);
    outline: none;
}
.formulario-inputs__horario input{
    width: 50%;
}

.d22__info-3{
    width: 100%;
    align-self: flex-end;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.d22__info-1 p, .d22__info-2 p{
    color: #fff;
    font-size: 26px;
}
.save2{
    height: 27px;
    width: 100px;
    display: inline-block;
    background-color: #7b09e6;
    outline: 3px solid #000;
    text-align: center;
    list-style-type: none;
    color: #fff;
}
.save2:hover{
    background-color: #5907c4;
}
.d22__atras{
    height: 30px;
    width: 30px;
    display: inline-block;
}
.d22__atras:hover{
    border-radius: 10px;
    background-color: #999;
}

/*CAMBIO Consultar Reservas (3)*/
.d3-cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d3__info{
    height: 80%;
    width: 90%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    border-radius: 4px;
}

.bus{
    margin-left: 40px;
    margin-bottom: 10px;
}
table{
    width: 100%;
    color: #fff;
    text-align: left;
}
tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
th, td{
    height: 5%;
    width: 20%;
    padding: 10px;
}
.id-u{
    width: 10%;
}
/*CAMBIO Perfil Discoteca (4)*/
.cont-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.d4__info{
    height: 545px;
    width: 650px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.d4__info-img{
    height: 150px;
    width: 150px;
    display: block;
}
.d4__info-1{
    height: 300px;
    display: inline-block;
    width: 300px;
    margin-top: 40px;
}
.d4__info-2{
    height: 300px;
    display: inline-block;
    width: 300px;
    margin-top: 40px;
}
.d4__info-1 p, .d4__info-2 p{
    color: #fff;
    font-size: 26px;
}
.d4__info-3{
    color: #fff;
    font-size: 25px;
    display: inline-block;
}
.checkbox{
    height: 20px;
    width: 20px;
    display: inline-block;
}
.savepd{
    height: 27px;
    width: 100px;
    display: inline-block;
    margin-left: 150px;
    background-color: #7b09e6;
    outline: 3px solid #000;
    text-align: center;
    list-style-type: none;
    color: #fff;
}


/*CAMBIO Servicios (6)*/
.d6-cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d6__info{
    height: 80%;
    width: 90%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    display: flex;
    text-align: justify;
    border-radius: 4px;
}
.d6__info p{
    font-size: 20px;
    padding: 20px;
    color: #fff;
}